.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 40px;

  background: #fff;
}

.description_logo {
  width: 189px;
  height: 30px;

  background-image: url(../../public/svg/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.description_content {
  margin-top: 15px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  color: #000;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info_social {
  display: flex;
  gap: 20px;
}

.icon_wa {
  background-image: url(../../public/svg/Whatsapp.svg);
}

.icon_teleg {
  padding: 4px;

  background-image: url(../../public/svg/Teleg.svg);
}

.icon_vk {
  padding: 8px 4px 8.73px 4px;

  background-image: url(../../public/svg/VK_.svg);
}

.icon_email {
  background-image: url(../../public/svg/Email.svg);
}

.social_icon {
  display: block;
  width: 36px;
  height: 36px;

  background-position: center;
  background-repeat: no-repeat;
}

.info_privacy_policy {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  color: #383838;
}

@media (max-width: 1440px) {
  .footer_container {
    padding: 20px 40px;
  }
}

@media (max-width: 768px) {
  .footer_container {
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
  }

  .description_logo {
    width: 302px;
    height: 48px;
  }

  .description,
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info,
  .info_privacy_policy {
    margin-top: 30px;
  }

  .description_content {
    margin-top: 8px;
  }

  .description_content,
  .info_privacy_policy {
    font-size: 12px;
  }
}
